.tooltip{
    position:fixed;
    opacity:0;
    pointer-events:none;/*避免出現連結或其他預設行為*/
    background:#eee;
    max-width:200px;
}

.tip-header{
    border-bottom:2px solid white;
    padding:0.9rem 1rem;
}
.tip-body{
    padding:0.2rem0;
}
h3,h4{
    font-size:0.9rem;
    color:#555;margin:0;
}
h4{
    font-weight:normal;
}

.tip-info{
    margin:0;
    padding:0.3rem 1em;
    font-size:0.8em;
}

.tip-info:nth-of-type(even){
    background:#e0e0e0;
}
